<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">

<div class="text-center">
<h1>Craig J Lewis </h1>
<h2>Quote Jukebox</h2>
<div class="button">
<p>Tap me</p>
</div>
<br />
<div class="quote_box">
<p id ="quote"></p>
<p id ="author"></p>
</div>
</div>
