<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

<div class="text-center">
<h1>Craig J Lewis </h1>
<h2>Quote Box</h2>
<div class="button">
<p>Click me</p>
</div>
<br />
<div class="elbox">
<p id ="quote"></p>
<p id ="author"></p>
</div>
</div>
